<!-- <html>

<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

<div class="timeline">
  <div class="container left">
    <div class="content">
      <h2>2017</h2>
      <p>Lorem ipsum dolor sit amet, quo ei simul congue exerci, ad nec admodum perfecto mnesarchum, vim ea mazim fierent detracto. Ea quis iuvaret expetendis his, te elit voluptua dignissim per, habeo iusto primis ea eam.</p>
    </div>
  </div>
  <div class="container right">
    <div class="content">
      <h2>2016</h2>
      <p>Lorem ipsum dolor sit amet, quo ei simul congue exerci, ad nec admodum perfecto mnesarchum, vim ea mazim fierent detracto. Ea quis iuvaret expetendis his, te elit voluptua dignissim per, habeo iusto primis ea eam.</p>
    </div>
  </div>
  <div class="container left">
    <div class="content">
      <h2>2015</h2>
      <p>Lorem ipsum dolor sit amet, quo ei simul congue exerci, ad nec admodum perfecto mnesarchum, vim ea mazim fierent detracto. Ea quis iuvaret expetendis his, te elit voluptua dignissim per, habeo iusto primis ea eam.</p>
    </div>
  </div>
  <div class="container right">
    <div class="content">
      <h2>2012</h2>
      <p>Lorem ipsum dolor sit amet, quo ei simul congue exerci, ad nec admodum perfecto mnesarchum, vim ea mazim fierent detracto. Ea quis iuvaret expetendis his, te elit voluptua dignissim per, habeo iusto primis ea eam.</p>
    </div>
  </div>
  <div class="container left">
    <div class="content">
      <h2>2011</h2>
      <p>Lorem ipsum dolor sit amet, quo ei simul congue exerci, ad nec admodum perfecto mnesarchum, vim ea mazim fierent detracto. Ea quis iuvaret expetendis his, te elit voluptua dignissim per, habeo iusto primis ea eam.</p>
    </div>
  </div>
  <div class="container right">
    <div class="content">
      <h2>2007</h2>
      <p>Lorem ipsum dolor sit amet, quo ei simul congue exerci, ad nec admodum perfecto mnesarchum, vim ea mazim fierent detracto. Ea quis iuvaret expetendis his, te elit voluptua dignissim per, habeo iusto primis ea eam.</p>
    </div>
  </div>
</div>

</body>
</html> -->


<!-- <div class="container">
    <h4>Timeline Style : Demo-2</h4>
    <div class="row">
        <div class="col-md-12">
            <div class="main-timeline2">
                <div class="timeline">
                    <span class="icon fa fa-globe"></span>
                    <a class="timeline-content">
                        <h3 class="title">Web Designer</h3>
                        <p class="description">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer malesuada tellus lorem, et condimentum neque commodo quis.
                        </p>
                    </a>
                </div>
                <div class="timeline">
                    <span class="icon fa fa-rocket"></span>
                    <a href="#" class="timeline-content">
                        <h3 class="title">Web Developer</h3>
                        <p class="description">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer malesuada tellus lorem, et condimentum neque commodo quis.
                        </p>
                    </a>
                </div>
                <div class="timeline">
                    <span class="icon fa fa-briefcase"></span>
                    <a href="#" class="timeline-content">
                        <h3 class="title">Web Designer</h3>
                        <p class="description">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer malesuada tellus lorem, et condimentum neque commodo quis.
                        </p>
                    </a>
                </div>
                <div class="timeline">
                    <span class="icon fa fa-mobile"></span>
                    <a href="#" class="timeline-content">
                        <h3 class="title">Web Developer</h3>
                        <p class="description">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer malesuada tellus lorem, et condimentum neque commodo quis.
                        </p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div> -->

<html>
<head>
    <!-- <title>Accordion</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"> -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>

<body>
    <!-- <div class="container">
    <h4>Timeline Style : Demo-1</h4>
    <div class="row">
        <div class="col-md-12">
            <div class="main-timeline">
                <a href="#" class="timeline">
                    <div class="timeline-icon"><i class="fa fa-globe"></i></div>
                    <div class="timeline-content">
                        <h3 class="title">Web Designer</h3>
                        <p class="description">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate ducimus officiis quod! Aperiam eveniet nam nostrum odit quasi ullam voluptatum.
                        </p>
                    </div>
                </a>
                <a href="#" class="timeline">
                    <div class="timeline-icon"><i class="fa fa-rocket"></i></div>
                    <div class="timeline-content">
                        <h3 class="title">Web Developer</h3>
                        <p class="description">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate ducimus officiis quod! Aperiam eveniet nam nostrum odit quasi ullam voluptatum.
                        </p>
                    </div>
                </a>
                <a href="#" class="timeline">
                    <div class="timeline-icon"><i class="fa fa-briefcase"></i></div>
                    <div class="timeline-content">
                        <h3 class="title">Web Designer</h3>
                        <p class="description">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate ducimus officiis quod! Aperiam eveniet nam nostrum odit quasi ullam voluptatum.
                        </p>
                    </div>
                </a>
                <a href="#" class="timeline">
                    <div class="timeline-icon"><i class="fa fa-mobile"></i></div>
                    <div class="timeline-content">
                        <h3 class="title">Web Developer</h3>
                        <p class="description">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate ducimus officiis quod! Aperiam eveniet nam nostrum odit quasi ullam voluptatum.
                        </p>
                        <img src="../../assets/group.png" alt="">
                    </div>
                </a>
            </div>
        </div>
    </div>
</div> -->


<div class="container">
    <h4>Application Walkthrough &nbsp;&nbsp;
        <button class="btn btn-warning" routerLink="/home">HomePage</button>&nbsp;
        <button class="btn btn-warning" routerLink="/statistics">Statistics Page</button>&nbsp;
        <button class="btn btn-danger" routerLink="/home">Close</button>
    </h4>
    <p><b>** User Guidlines for all Users, using which user can easily access the all features of Employee Management Hub application. **</b></p>
    <div class="row">
        <div class="col-md-12">
            <div class="main-timeline2">
                <div class="timeline">
                    <span class="icon"><img src="../../assets/online-interview.png" alt="img"></span>
                    <a class="timeline-content">
                        <h3 class="title"><strong>Employee Hub Homepage</strong></h3>
                        <p class="description">
                            We will have a quick walk through of our application, which will help user to access all features.
                        </p>
                        <img src="../../assets/EmpApplication.png" alt="image" (click)="openImageModal('EmpApplication')">
                    </a>
                </div>
                <div class="timeline">
                    <span class="icon"><img src="../../assets/group.png" alt="img"></span>
                    <a class="timeline-content">
                        <h3 class="title"><strong>Add Employee Form</strong></h3>
                        <p class="description">
                            We can have this form Add employee details by filling the below form detalis and submitting the form by clicking "Add Employee" button.  
                        </p>
                        <img src="../../assets/addEmpForm.png" alt="image" (click)="openImageModal('addEmpForm')">
                    </a>
                </div>
                <div class="timeline">
                    <span class="icon"><img src="../../assets/department.png" alt="img"></span>
                    <a class="timeline-content">
                        <h3 class="title"><strong>Add Department Form</strong></h3>
                        <p class="description">
                            We can have this form Add Department details by filling the below form detalis and submitting the form by clicking "Add Department" button. 
                        </p>
                        <img src="../../assets/AddDeptForm.png" alt="image" (click)="openImageModal('AddDeptForm')">
                    </a>
                </div>
                <div class="timeline">
                    <span class="icon"><img src="../../assets/networking.png" alt="img"></span>
                    <a class="timeline-content">
                        <h3 class="title"><strong>Assign Department Form</strong></h3>
                        <p class="description">
                            We can assign department to any perticular employee , by filling the below fields and clicking "Assign Department" button. 
                        </p>
                        <img src="../../assets/AssignDeptForm.png" alt="image" (click)="openImageModal('AssignDeptForm')">
                    </a>
                </div>
                <div class="timeline">
                    <span class="icon"><img src="../../assets/research.png" alt="img"></span>
                    <a class="timeline-content">
                        <h3 class="title"><strong>View Employee Table</strong></h3>
                        <p class="description">
                            Here we can see all employee detalis. simultaneously we can edit the employee details and delete the employee data permanently using the icons under "Take Action" column. 
                        </p>
                        <img src="../../assets/ViewEmpTable.png" alt="image" (click)="openImageModal('ViewEmpTable')">
                    </a>
                </div>
                <div class="timeline">
                    <span class="icon"><img src="../../assets/action.png" alt="img"></span>
                    <a class="timeline-content">
                        <h3 class="title"><strong>View Department Table</strong></h3>
                        <p class="description">
                            Here we can see all Department detalis. simultaneously we can edit the Department details and delete the Department data permanently using the icons under "Action" column. 
                        </p>
                        <img src="../../assets/ViewDeptTable.png" alt="image" (click)="openImageModal('ViewDeptTable')">
                    </a>
                </div>
                <div class="timeline">
                    <span class="icon"><img src="../../assets/modification.png" alt="img"></span>
                    <a class="timeline-content">
                        <h3 class="title"><strong>View Assigned Department Table</strong></h3>
                        <p class="description">
                            Here we can see all Assigned Department detalis. simultaneously we can edit the Department details and delete the Assigned Department data permanently using the icons under "Action" column. 
                        </p>
                        <img src="../../assets/AssViewTable.png" alt="image" (click)="openImageModal('AssViewTable')">
                    </a>
                </div>
                <div class="timeline">
                    <span class="icon"><img src="../../assets/action.png" alt="img"></span>
                    <a class="timeline-content">
                        <h3 class="title"><strong>View Notifications</strong></h3>
                        <p class="description">
                            Here we can see all Notifications. simultaneously we can delete the notification from the list using delete icon. 
                        </p>
                        <img src="../../assets/NotiModal.png" alt="image" (click)="openImageModal('NotiModal')">
                    </a>
                </div>
                <div class="timeline">
                    <span class="icon"><img src="../../assets/trace.png" alt="img"></span>
                    <a class="timeline-content">
                        <h3 class="title"><strong>Thank you !!</strong></h3>
                        <p class="description">
                            For going through the application, You can go to the homepage by clicking the below button : 
                        </p>
                        <button class="btn btn-success" routerLink="/home">Go To HomePage</button>
                        <!-- <img src="../../assets/NotiModal.png" alt="image"> -->
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal for displaying the zoomed image -->
<div class="modal" *ngIf="showModal">
    <div class="modal-content">
      <img [src]="zoomedImage" alt="zoomed image" (click)="closeImageModal()">
      <div class="clsBtn">
        <button class="btn btn-danger" (click)="closeImageModal()">Close</button>
      </div>
      
    </div>
  </div>

</body>
</html>